body{
    background: rgb(82, 116, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input, button{
    padding: 10px;
    
    width: -webkit-fill-available;
}

form{
    width: 300px;
}
button{
    cursor: pointer;
    margin-bottom: 10px;
    
}


.fomr{
    margin-bottom: 10px;
}


.erro{
    color: white;
    background: red;
    display: none;
}